html{
	width: 100%;
}

* {
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}

p {
	font-size: 16px;
}
/* CSS  */
.navbar-brand img {
	height: 50px;
}

@media (min-width: 768px) {
/*nav選單*/
	.navbar{
	padding-left:50px!important;
	padding-right:50px!important; 
}
}
/* 輪播  */
.banner {
	margin-top: 76px;
}
.banner .container-fluid {
	padding:0!important;
}


/*5  */
.about {
	padding:100px 0;
	background:linear-gradient(#ffffff,#F0E5DE); 
}

.about img {
	box-shadow:2px 2px 4px gray;
}
.title {
	font-size:20px;
	font-weight: bold;
}

.title_line {
	border-color:#ffffff;
}

.story {
	padding: 50px 0;
	font-size: 18px;
}

.story span {
	font-style: italic;
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
.title_line {
	margin-bottom: 50px;
}



/*6  */
.product {
	background-color: #ffffff;
	padding-bottom:70px;
}
.product .card {
	background-color: #ffffff;
	padding: 20px 10px;
	margin-bottom: 10px;
}
.product img {
	width:100%;
	margin-bottom:20px;
}

.product img:hover {
	opacity: 0.6;
}
.product_name {
	padding: 10px;
}

/*7  */
.contact {
	height:750px;
	padding-top: 100px;
	background-image: url(../img/contact_bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
}

.contact .title {
	color:#ffffff;
}

.contact .form {
	max-width: 600px;
	margin:0 auto;
	padding: 0 30px;
	color:#ffffff;
}

.form input {
	height: 40px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

.form textarea {
	height: 200px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

input[type=submit] {
  background-color: #ABD0CE;
  color: white;
  cursor: pointer;
  width: 100px!important;
  height: 48px;
}

input[type=submit]:hover {
  background-color: #8ABCB8;
}


/*8  */
footer {
	background-color: #c1adad;
	padding:20px 0; 
}

footer p {
	line-height: 39px;



	
}


.jay image{
	height: 85px;
	width: 240px;
}


.bigbox{
	margin-top: 60%;
	margin-bottom: -5%;
	opacity: 1;
}

.omg img {
	
	width: 30%;
	height: 25%;
margin-left: 45% ;
margin-top: -55%;
	animation:  1.5s alternate infinite ease-in;
	
	z-index: 1;
  }
  
  @keyframes crescendo {
	0%   {transform: scale(.8);}
	50% {transform: scale(1.5);}
	100%   {transform: scale(.8);}
  }
.bgword img {
	
	width: 20%;
	height: 20%;
margin-left: 30% ;
margin-top: -70%;
	animation:  1.5s alternate infinite ease-in;
	
	z-index: 2;
  }
  
  @keyframes crescendo {
	0%   {transform: scale(.8);}
	50% {transform: scale(1.5);}
	100%   {transform: scale(.8);}
  }
.smword img {
	
	width: 22%;
	height: 22%;
margin-left: 30% ;
margin-top: -55%;
	animation:  1.5s alternate infinite ease-in;
	
	z-index: 3;
  }
  
  @keyframes crescendo {
	0%   {transform: scale(.8);}
	50% {transform: scale(1.5);}
	100%   {transform: scale(.8);}
  }

.bus img {
	
	width: 20%;
	height: 20%;
margin-left: 58% ;
margin-top: -60%;
	animation:  1.5s alternate infinite ease-in;

	z-index: 4;
  }
  
  @keyframes crescendo {
	0%   {transform: scale(.8);}
	50% {transform: scale(1.5);}
	100%   {transform: scale(.8);}
  }
  .star1 img {
	
	width: 5%;
	height: 5%;
margin-left: 15% ;
margin-top: -51%;
	animation:  1.5s alternate infinite ease-in;
	animation-name:crescendo ;
	z-index: 5;
  }
  .star1 img {
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
}
.star1 img:hover {
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg); 
}
  
  
  @keyframes crescendo {
	0%   {transform: scale(.8);}
	50% {transform: scale(1.5);}
	100%   {transform: scale(.8);}
  }

  .join img {
	
	width: 12%;
	height: 12%;
margin-left: 33% ;
margin-top: -50%;
	animation:  1.5s alternate infinite ease-in;

	z-index: 5;
  }
  .join img:hover{
	  opacity: 0.5;
	  animation-name:crescendo ;
	 
  }
  
  @keyframes crescendo {
	0%   {transform: scale(.8);}
	50% {transform: scale(1.5);}
	100%   {transform: scale(.8);}
  }
  .star2 img {
	
	width: 5%;
	height: 5%;
margin-left: 80% ;
margin-top: -100%;
	animation:  1.5s alternate infinite ease-in;
	animation-name:crescendo ;
	z-index: 5;
  }
  
  
  @keyframes crescendo {
	0%   {transform: scale(.8);}
	50% {transform: scale(1.5);}
	100%   {transform: scale(.8);}
  }
  .nav-item a{
	  
	 margin: auto;
	 margin: 20px;
  }






.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}


/*the animation definition*/

@-webkit-keyframes zoomInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

@keyframes zoomInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -ms-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -ms-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

.zoomInRight {
    -webkit-animation-name: zoomInRight;
    animation-name: zoomInRight
}


  